/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
	/* overflow: hidden; */
}

:root {
	--height-full-noHeader: calc(100% - 50px);
	--bg-ticket-normal: #2196f3;
	--bg-ticket-reduced: #4caf50;
}

.fullHeight {
	height: var(--height-full-noHeader);
}
