<h3>{{ '#activeTicketList-activeTickets' | translate }}:</h3>
<div class="ticketListWrapper">
	<div *ngFor="let ticket of ticketsList" class="ticket shadow">
		<div class="header" [style.backgroundColor]="ticket.isActive ? 'var(--bs-green)' : 'var(--bs-red)'">
			{{ (ticket.isActive ? '#activeTicketList-active' : '#activeTicketList-expired') | translate }}
		</div>
		<div class="body">
			<div>{{ '#activeTicketList-activeSince' | translate }}: {{ ticket.activeSince }}</div>
			<div>{{ '#activeTicketList-activeUntil' | translate }}: {{ ticket.activeUntil }}</div>
			<div>
				{{ '#activeTicketList-lines' | translate }}:
				{{ (ticket.busLine == 'all' ? '#activeTicketList-allLines' : ticket.busLine) | translate }}
			</div>
		</div>
	</div>
</div>
