<div *ngIf="purchaseStatus == 'purchase'" class="fullHeight">
	<div class="header">
		<button mat-raised-button (click)="reducedToggle()" style="min-width: 225px">
			{{ '#ticketScreen-options-type' | translate }}:
			{{ (ticketOptions.reduced ? '#ticketScreen-reduced' : '#ticketScreen-normal') | translate }}
		</button>
		<button mat-raised-button (click)="typeToggle()">
			{{ (ticketOptions.singleLine ? '#kkmTicketScreen-singleLine' : '#kkmTicketScreen-network') | translate }}
		</button>
		<div class="d-flex" style="flex: 1"></div>
		<div
			class="ticketPreview shadow"
			[style.background-color]="ticketOptions.reduced ? 'var(--bg-ticket-reduced)' : 'var(--bg-ticket-normal)'"
		>
			<div>{{ (ticketOptions.reduced ? '#ticketScreen-reduced' : '#ticketScreen-normal') | translate }}</div>
			<div *ngIf="ticketOptions.singleLine">{{ '#kkmTicketScreen-line' | translate }}: {{ ticketOptions.line || '-' }}</div>
			<div *ngIf="!ticketOptions.singleLine">{{ '#kkmTicketScreen-zone' | translate }}: {{ ticketOptions.zone }}</div>
			<div>{{ '#kkmTicketScreen-validity' | translate }}: {{ selectedDate | nbgDateFormat }} - {{ endDate | nbgDateFormat }}</div>
		</div>
		<div style="width: 50px"></div>
		<button mat-raised-button color="primary" (click)="purchase()" [disabled]="!ticketOptions.isValid">
			{{ '#kkmTicketScreen-purchase' | translate }} ({{ ticketPrice | number: '1.2-2' }} PLN)
		</button>
	</div>
	<div class="body">
		<div *ngIf="ticketOptions.singleLine" class="bdColumn line">
			<div class="lineHeader">
				<label for="lineInput">{{ '#kkmTicketScreen-lineInput' | translate }}: </label>
				<input [readonly]="true" name="lineInput" [formControl]="lineInput" />
			</div>
			<app-keypad class="keyPad mt-3" (valueOutput)="lineKeypadHandler($event)" [maxLength]="3" buttonHeight="120px"></app-keypad>
		</div>
		<div *ngIf="!ticketOptions.singleLine" class="bdColumn zoneSelector">
			<div class="h2">{{ '#kkmTicketScreen-zones' | translate }}:</div>
			<div class="zoneButtons">
				<button
					mat-raised-button
					*ngFor="let z of ['I', 'II', 'III']; index as i"
					(click)="zoneToggle(i + 1)"
					[style.background-color]="isZoneActive(i + 1) ? 'var(--bs-teal)' : 'var(--bs-white)'"
				>
					{{ '#kkmTicketScreen-zone' | translate }} : {{ z }}
				</button>
			</div>
		</div>
		<div class="dateSelector bdColumn">
			<div class="dateTitle">{{ '#kkmTicketScreen-startDate' | translate }}:</div>
			<ngb-datepicker
				(dateSelect)="onDateSelect($event)"
				[markDisabled]="isDisabled"
				[minDate]="today"
				[maxDate]="{ year: today.year + 1, month: today.month, day: today.day }"
			></ngb-datepicker>
		</div>
	</div>
</div>
<app-payment-handler
	[toPay]="ticketPrice"
	[goBackEvent]="childEEmitter"
	[successMsg]="'#paymentHandler-successKKM' | translate"
	*ngIf="purchaseStatus == 'payment'"
></app-payment-handler>
