<div class="wrapper fullHeight" *ngIf="visibleComponent == 'main'">
	<div class="shoppingCart sideColumn">
		<div class="text-center mt-2 cartTotal">
			<div>{{ '#ticketScreen-cart-total' | translate }}:</div>
			<div>{{ (totalPrice | number : '1.2-2') + ' PLN' }}</div>
		</div>
		<div class="buttons">
			<button class="clearBt" mat-raised-button (click)="clearCart()"><mat-icon>remove_shopping_cart</mat-icon></button>
			<button class="confirmBt" mat-raised-button color="primary" (click)="navigate('payment')" [disabled]="totalPrice <= 0">
				{{ '#ticketScreen-cart-purchase' | translate }}
			</button>
		</div>
		<drag-scroll [scrollbar-hidden]="true" [drag-scroll-x-disabled]="true" class="cartContents mt-3">
			<div class="ticket" *ngFor="let ticket of cart; trackBy: trackTicket">
				<div class="ticketHeader" [style.background-color]="ticket.reduced ? 'var(--bg-ticket-reduced)' : 'var(--bg-ticket-normal)'">
					<div>
						<span>{{ '#ticketScreen-options-amount' | translate }}: {{ ticket.count }}</span>
					</div>
					<div class="flex-grow-1"></div>
					<div>
						<span>{{ '#ticketScreen-cart-cost' | translate }}:</span>
						<span style="margin-left: 5px">{{ ticket.price | number : '1.2-2' }} PLN</span>
					</div>
				</div>
				<div class="ticketBody">
					<div class="info">
						<div class="type">
							{{ (ticket.reduced ? '#ticketScreen-reduced' : '#ticketScreen-normal') | translate }}
						</div>
						<div class="for">{{ ticket.time | translate }}</div>
						<div class="zone">{{ '#ticketScreen-options-zone' | translate }}: {{ ticket.zone }}</div>
					</div>
					<button mat-raised-button (click)="removeFromCart(ticket)"><mat-icon color="warn">delete</mat-icon></button>
				</div>
			</div>
		</drag-scroll>
	</div>
	<div class="ticketSelect container fullHeight">
		<div class="row">
			<app-ticket-button
				class="col"
				*ngFor="let ticketTime of possibleTimes.slice(0, possibleTimes.length / 2)"
				[reduced]="ticketOptions.reduced"
				[zone]="ticketOptions.zone"
				[time]="ticketTime"
				(addToCart)="addToCard($event)"
			></app-ticket-button>
		</div>
		<div class="row">
			<app-ticket-button
				class="col"
				*ngFor="let ticketTime of possibleTimes.slice(possibleTimes.length / 2)"
				[reduced]="ticketOptions.reduced"
				[zone]="ticketOptions.zone"
				[time]="ticketTime"
				(addToCart)="addToCard($event)"
			></app-ticket-button>
		</div>
	</div>
	<div class="ticketOptions sideColumn">
		<button mat-raised-button (click)="navigate('ticketInfo')" class="mb-5">
			{{ '#ticketScreen-options-info' | translate }} <mat-icon>info</mat-icon>
		</button>
		<mat-button-toggle-group (change)="typeToggle($event)" class="shadow" value="normal">
			<mat-button-toggle value="normal" class="toggle-blue">{{ '#ticketScreen-normal' | translate }}</mat-button-toggle>
			<mat-button-toggle value="reduced" class="toggle-green">{{ '#ticketScreen-reduced' | translate }}</mat-button-toggle>
		</mat-button-toggle-group>
		<button mat-raised-button (click)="zoneToggle()">{{ '#ticketScreen-options-zone' | translate }}: {{ ticketOptions.zone }}</button>
		<div class="amountSelect rounded">
			<button class="topBt" mat-flat-button (click)="setAmount(1)"><mat-icon>expand_less</mat-icon></button>
			<div class="amountDisplay">{{ '#ticketScreen-options-amount' | translate }}: {{ ticketOptions.amount }}</div>
			<button class="botBt" mat-flat-button (click)="setAmount(-1)"><mat-icon>expand_more</mat-icon></button>
		</div>
	</div>
</div>

<div *ngIf="visibleComponent == 'ticketInfo'" class="ticketInfo" (click)="navigate('main')">
	<div class="infoBlock">
		<h1 class="header">{{ '#ticketScreen-info-zones' | translate }}</h1>
		<div>{{ '#ticketScreen-info-zones2' | translate }}</div>
	</div>
	<img src="./assets/gfx/zones.png" />
</div>

<app-payment-handler
	[toPay]="totalPrice"
	[goBackEvent]="childGoBackEEmitter"
	[successMsg]="'#paymentHandler-successTicket' | translate"
	*ngIf="visibleComponent == 'payment'"
></app-payment-handler>
