.navBar {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	background-color: var(--bs-primary) !important;
	padding: 5px 10px;
	overflow: hidden;
}

.navBar button {
	transform: scale(2);
}

mat-icon.flag {
	transform: translate(0, 3px);
}
