<nav class="navBar mat-elevation-z6">
	<button
		mat-icon-button
		color="black"
		[disabled]="goBackFunc === null"
		[style.opacity]="goBackFunc != null ? '100' : '0'"
		(click)="goBack()"
	>
		<mat-icon fontIcon="arrow_back_ios"></mat-icon>
	</button>
	<button mat-icon-button color="black" [disabled]="activeRoute === '/'" [style.opacity]="activeRoute !== '/' ? '100' : '0'" routerLink="/">
		<mat-icon fontIcon="home"></mat-icon>
	</button>
	<button mat-icon-button color="black" (click)="changeTranslation()">
		<mat-icon class="flag" [fontSet]="'fi-' + nextLanguage"></mat-icon>
	</button>
</nav>
<app-keybind-explainer *ngIf="kebindsVisible"></app-keybind-explainer>
<router-outlet [style.visibility]="kebindsVisible ? 'hidden' : 'visible'" class="router" (activate)="onActivate($event)"></router-outlet>
