<div class="wrapper">
	<h1>Test mode keybinds:</h1>
	<ul>
		<li>
			<b>Global</b>
			<ul>
				<li>[Backquote] - Toggle keybinds list</li>
			</ul>
		</li>
		<li>
			<b>KKM Screen</b>
			<ul>
				<li>[Spacebar] - insert/remove KKM</li>
				<li>[O] - toggle online ticket availability</li>
			</ul>
		</li>
		<li>
			<b>Payment Screen</b>
			<ul>
				<li>[1],[2],[5] - insert coins</li>
				<li>[z],[x],[c],[v],[b] - insert bills (10,20,50,100,200)</li>
				<li>[A]/[D] - Accept/Decline credit card payment</li>
				<li>[C] - confirm blik payment</li>
			</ul>
		</li>
	</ul>
</div>
