<div *ngIf="!showSuccessMsg && isTicketAvailable" class="wrapper fullPage">
	<h1>{{ '#ticketActivation-ticketReady' | translate }}:</h1>
	<div class="ticket">
		<div>{{ '#activeTicketList-activeSince' | translate }} {{ ticket.activeSince }}</div>
		<div>{{ '#activeTicketList-activeUntil' | translate }} {{ ticket.activeUntil }}</div>
		<div>
			{{ '#activeTicketList-lines' | translate }}:
			{{ (ticket.busLine == 'all' ? '#activeTicketList-allLines' : ticket.busLine) | translate }}
		</div>
	</div>
	<div class="buttons">
		<button mat-raised-button (click)="goBackFunc()" color="warn">{{ '#kkmScreen-online-cancel' | translate }}</button>
		<button mat-raised-button (click)="activateTicket()" color="primary">{{ '#kkmScreen-online-activate' | translate }}</button>
	</div>
</div>

<div
	*ngIf="!showSuccessMsg && !isTicketAvailable"
	class="d-flex flex-column justify-content-center align-items-center fullPage"
	(click)="goBackFunc()"
>
	<h1>{{ '#ticketActivation-noTicket' | translate }}</h1>
</div>

<div *ngIf="showSuccessMsg" class="d-flex flex-column justify-content-center align-items-center fullPage" (click)="goMain()">
	<h1>{{ '#ticketActivation-success1' | translate }}</h1>
	<h1>{{ '#ticketActivation-success2' | translate }}</h1>
</div>
