.wrapper {
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.fullPage {
	height: var(--height-full-noHeader);
}

.buttons {
	margin-top: 20px;
}

.ticket {
	font-size: 2em;
}

.buttons button {
	font-size: 2em;
	padding: 50px;
}

.buttons > *:not(:last-child) {
	margin-right: 20px;
}
